* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    height: auto;
    font-family: "Matter";
}

:root {
    --primary-color: #202020;
    --black: black;
    --white: white;
    --sim-gray: #929292;
    --sim-perpul: #A855F7;
    --sim-green: #37B489;
    --sim-pink: #F5B3C7;
    --sim-blue: #6271FF;
    --sim-dark-blue: #1D4ED8;
    --sim-dark-gray: #3D3D3D;
}

/* Some Common CSS */

/* Display related  CSS*/

.d-flex {
    display: flex;
}

.jus-con-center {
    justify-content: center;
}

.jus-con-space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

/* Text related CSS */

.text-align-center {
    text-align: center;
}

/* Font-size related CSS */

.font-size-56px {
    font-size: 56px;
}

.font-size-26px {
    font-size: 26px;
}

.font-size-14px {
    font-size: 14px;
}

.font-size-20px {
    font-size: 20px;
}

.font-size-18px {
    font-size: 18px;
}

/* Font-weight related CSS */

.font-weight-600 {
    font-weight: 600;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-700 {
    font-weight: 700;
}

/* Padding and Margin related CSS */

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}


/* Color related CSS */

.primary-color {
    color: var(--primary-color);
}

.black-color {
    color: var(--black);
}

.white-color {
    color: var(--white);
}

.sim-gray {
    color: var(--sim-gray);
}

.sim-perpul {
    color: var(--sim-perpul);
}

.sim-green {
    color: var(--sim-green);
}

.sim-pink {
    color: var(--sim-pink);
}

.sim-blue {
    color: var(--sim-blue);
}

.sim-dark-blue {
    color: var(--sim-dark-blue);
}

.sim-dark-gray {
    color: var(--sim-dark-gray);
}


/* Header Section */

.img-1 {
    background-image: url(/Assets/images/Img\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1320px;
    height: 550px;
    padding: 0 40px;
    margin: auto;
}

.header-sec {
    width: 100%;
    height: 75px;
    margin: auto;
}

.main-logo img {
    width: 150px;
    height: 30px;
}

.navbar div {
    margin-right: 15px;
    width: auto;
    height: auto;
}

.navbar div p {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary-color);
}

.navbar div img {
    height: 4px;
    width: 9px;
    margin-top: 7px;
    margin-left: 5px;
}

.header-3-sec {
    height: 40px;
}

.header-login-btn {
    font-size: 16px;
    font-weight: 500;
    margin-right: 15px;
    color: var(--primary-color);
}

.header-trial-btn {
    width: 150px;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--sim-dark-blue);
    text-align: center;
    border-radius: 50px;
    line-height: 30px;
}

@media screen and (max-width:1100px) {

    .img-1 {
        width: 100%;
        height: auto;
        padding: 0;
        background-image: url(/Assets/images/Img\ 6.png);
        background-size: cover;
    }

    .header-sec {
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
        padding: 10px 0;
    }

    .navbar {
        margin-bottom: 5px;
    }

    .navbar,
    .header-3-sec {
        justify-content: center;
    }
}

@media screen and (max-width:560px) {
    .navbar {
        display: block;
        width: 100%;
        text-align: center;
    }

    .navbar div {
        margin: 0;
        width: 100%;
        justify-content: center;
    }
}

/* Second-Section */

.sec-2 {
    width: 50%;
    margin-top: 30px;
    padding-right: 60px;
}

.sec-2-slogan-sec .icon-2 {
    height: 28px;
    width: 28px;
    border-radius: 5px;
    background-color: var(--white);
    margin-right: 10px;
}

.slogan-line {
    font-size: 16px;
    font-weight: 500;
}

.sec-2-heading {
    font-size: 60px;
    font-weight: 900;
    line-height: 55px;
    margin: 10px 0 20px 0;
}

.sec-2-para {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}

.signup-box form {
    position: relative;
    width: 80%;
    height: 40px;
    margin-bottom: 10px;
}

.signup-box form input {
    width: 100%;
    height: 40px;
    border-radius: 60px;
    border: none;
    outline: none;
    padding-left: 10px;
    color: #C6C6C6;
}

.sec-2-signup-btn {
    width: 30%;
    height: 40px;
    border-radius: 60px;
    border: none;
    outline: none;
    background-color: var(--sim-dark-blue);
    position: absolute;
    top: 0;
    right: 0;
}

.icon-1 {
    width: 25px;
    height: 25px;
    background-color: #FF492C;
    border-radius: 50px;
    margin-right: 10px;
}

.rating-line {
    font-size: 14px;
    font-weight: 500;
    margin: 0 10px;
}

.sec-2-card-condition {
    font-size: 14px;
    font-weight: 400;
    /* margin: 0 10px; */
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: var(--sim-gray);
    padding-left: 10px;
}

@media screen and (max-width:1100px) {
    .sec-2 {
        width: 100%;
        height: auto;
        margin-top: 30px;
        padding: 0 0 10px 0;
    }

    .sec-2 .sec-2-slogan-sec {
        justify-content: center;
        width: 100%;
    }

    .sec-2-heading {
        text-align: center;
    }

    .sec-2-para {
        text-align: center;
    }

    .signup-box {
        width: 100%;
        text-align: center;
    }

    .signup-box form {
        width: 80%;
        margin: auto;
    }

    .sec-2-rating-box {
        margin-top: 10px;
        justify-content: center;
    }
}

@media screen and (max-width:560px) {
    .sec-2-slogan-sec {
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .sec-2-slogan-sec .icon-2 {
        margin: auto;
    }

    .sec-2-rating-box {
        display: block;
        width: 100%;
        height: auto;
        text-align: center;
    }

    .icon-1 {
        margin: auto;
    }

    .sec-2-card-condition {
        border: none;
    }

    .signup-box form {
        height: 100px;
        position: static;
    }

    .signup-box form input {
        width: 100%;
        text-align: center;
    }

    .sec-2-signup-btn {
        margin-top: 10px;
        width: 100%;
        position: static;

        /* bottom: 0; */
    }

    .star-icon,
    .rating-line,
    .sec-2-card-condition {
        margin-top: 5px;
    }
}

/* Third Section */

.sec-3 {
    max-width: 1320px;
    height: auto;
    margin: 50px auto;
}

.sec-3-heading {
    font-size: 20px;
    font-weight: 500;
}

.company-logos {
    height: auto;
}

.company-logos div {
    width: 5%;
}

.company-logos div img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width:1100px) {
    .sec-3 {
        width: 100%;
        height: auto;
        margin: 50px auto;
    }

    .company-logos {
        display: block;
        width: 100%;
        height: auto;
    }

    .company-logos div {
        width: 100%;
        text-align: center;
    }

    .company-logos div img {
        height: auto;
        width: 10%;
    }

}

/* Forth Section */

.sec-4 {
    max-width: 1320px;
    padding: 0 40px;
    margin: 0 auto 50px;
}

.sec-4-heading {
    width: 760px;
    margin: 0 auto 10px auto;
}

.sec-4 button {
    display: block;
    width: 220px;
    height: 60px;
    background-color: var(--sim-dark-blue);
    border-radius: 50px;
    border: none;
    margin: 30px auto 30px auto;
}

.sec-4-main-content {
    width: 100%;
    height: auto;
    display: flex;
}

.sec-4-text-content {
    width: 50%;
    height: 100%;
    padding-top: 20px;
}

.sec-4-item-1 {
    width: 100%;
    height: 100px;
    border-left-color: var(--sim-gray);
    border-left-style: solid;
    border-left-width: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-bottom: 2px;
}

.sec-4-item-2 {
    width: 100%;
    height: 150px;
    border-left-color: var(--sim-gray);
    border-left-style: solid;
    border-left-width: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-bottom: 2px;
}

.sec-4-item-2 img {
    margin-bottom: 15px;
}

.sec-4-item-2-heading {
    margin: 25px 0 10px 0;
}

.sec-4-item-1 img {
    padding: 0 20px;
}

.sec-4-item-2 img {
    padding: 0 20px;
}

.sec-4-hover-effect:hover {
    border-left-color: var(--sim-dark-blue);
}

.sec-4-hover-effect:hover p {
    color: var(--primary-color);
}

.sec-4-img-content {
    width: 50%;
    height: 100%;
    position: relative;
}

.sec-4-img-content .img-2 {
    position: absolute;
    top: 5px;
    right: 1px;
    width: 99%;
    z-index: 1;
}

.sec-4-img-content .img-3 {
    position: absolute;
    right: 0;
    width: 50%;
    z-index: 0;
}

@media screen and (max-width:1100px) {
    .sec-4 {
        width: 100%;
        padding: 0;
    }

    .sec-4-heading {
        width: 100%;
        margin: 0 auto 10px auto;
        font-size: 30px;
    }

    .sec-4 button {
        display: block;
        width: 100%;
        height: 60px;
        background-color: var(--sim-dark-blue);
        border-radius: 50px;
        border: none;
        margin: 30px auto;
    }

    .sec-4-main-content {
        width: 100%;
        height: auto;
        display: block;
    }

    .sec-4-main-content .sec-4-text-content {
        width: 100%;
    }

    .sec-4-main-content .sec-4-img-content {
        visibility: hidden;
    }
}

@media screen and (max-width:760px) {
    .sec-4-item-2 {
        align-items: self-start;
        width: 100%;
        height: auto;
        margin-bottom: 2px;
        padding-bottom: 10px;
        display: block;
        text-align: center;
    }

    .sec-4-item-2 img,
    .sec-4-item-2-heading {
        margin-top: 15px;
    }

    .sec-4-item-1 {
        display: block;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width:420px) {
    .sec-4-item-1 {
        height: auto;
    }
}